[Unit]
Description=Dropbox Network Storage Daemon
#After=xorg.target

[Service]
Type=forking
ExecStart=/usr/bin/dropbox start
ExecStop=/usr/bin/dropbox stop

[Install]
WantedBy=xinitrc.target
