[Unit]
Description=Openbox
Wants=compton.service
Conflicts=gnome-session.service
After=environment.target
After=xinitrc.target
Wants=xinitrc.target

[Service]
ExecStart=/usr/bin/openbox-session
ExecReload=/usr/bin/openbox --reload
ExecStop=/usr/bin/openbox --exit

KillMode=process
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
Alias=default.target
