[Unit]
Description=Openbox
Wants=compton.service
Conflicts=gnome-session.service
After=xorg.target
After=environment.target
Requires=xorg.target

[Service]
ExecStart=/usr/bin/openbox
ExecReload=/usr/bin/openbox --reload
ExecStop=/usr/bin/openbox --exit

KillMode=process
Restart=always
RestartSec=1

[Install]
WantedBy=wm.target
