[Unit]
Description=PulseAudio Sound System
Documentation=man:pulseaudio(1)
Before=sound.target
Requires=dbus.socket

[Service]
Type=forking
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio --start --fail
ExecStop=/usr/bin/pulseaudio --kill
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
