[Unit]
Description=Xfce4 Power Manager
Documentation=man:xfce4-power-manager(1) man:xfce4-power-manager-settings(1)
Wants=xfconfd.service
After=xfconfd.service

[Service]
BusName=org.xfce.PowerManager
ExecStart=/usr/bin/xfce4-power-manager --no-daemon

[Install]
WantedBy=xinitrc.target
Alias=dbus-org.xfce.PowerManager.service
