[Unit]
Description=Xinitrc Stuff
After=environment.target
#Wants=wm.target
Wants=environment.target
Wants=multiplexer.target

[Install]
Alias=default.target
