[Unit]
Description=X resource setting
Documentation=man:xrdb(1)

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -merge /home/%u/.Xresources

[Install]
WantedBy=xinitrc.target
