[Unit]
Description=Screensaver
Documentation=man:xscreensaver man:xscreensaver-command man:xscreensaver-demo

[Service]
Type=simple
ExecStartPre=/usr/bin/xscreensaver-command -exit
ExecStart=/usr/bin/xscreensaver -no-splash
ExecStop=/usr/bin/xscreensaver-command -exit

[Install]
WantedBy=xinitrc.target

